body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #111;
    color: #fff;
}

#controls {
    padding: 15px;
    background: #222;
    border-bottom: 2px solid #444;
}

label {
    font-size: 15px;
}

input, select {
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #111;
    color: white;
}

.draw-grid {
    display: grid;
    grid-template-columns: repeat(8, 25px);
    grid-gap: 3px;
}

.grid-cell {
    width: 25px;
    height: 25px;
    background: #333;
    border: 1px solid #555;
}

#fabricCanvas {
    width: 100%;
    height: 500px;
    background: #000;
    display: block;
}